<?xml version="1.0"?>
<launch>
    <!-- load Parameters -->
    <rosparam file="$(find floam)/config/configFile.yaml" command="load" />
    <!-- 2011_09_26/2011_09_26_drive_0029_sync/testbag.bag -->
    <!-- [05] 2011_09_30/2011_09_30_drive_0018_sync/testbag.bag -->
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -r 0.1 $(env HOME)/Downloads/kitti-raw/2011_09_26/2011_09_26_drive_0029_sync/testbag.bag"/>

    <node pkg="floam" type="testProj" name="projection" output="screen"/>

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find floam)/rviz/projection.rviz" />
    </group>
</launch>
